@charset "utf-8";
@font-face {
    font-family: 'futura';
    src: url(../_fonts/Futura.ttf);
}
@font-face {
    font-family: 'unispace';
    src: url(../_fonts/unispacebd.ttf);
}
@font-face {
    font-family: 'bebas';
    src: url(../_fonts/BebasKai.ttf);
}

.prodpg {
    display: inline-block;
    padding-top: 100px;
    padding-left: 110px;
    text-align: left;
    height: auto;
    width: auto;
    position: relative;
}

.photos {
    display: inline-block;
    width: 80%;
    height: auto;
}

.photos img {
    width: 35%;
}

.desc {
    position: absolute;
    text-align: center;
    top: 150px;
    left: 63%;
    width: 20%;
    height: auto;
    font-family: 'bebas', sans-serif;
}

.desc h3, h1 {
    margin-bottom: 10px;
}

.desc h2 {
    margin-bottom: 15px;
}

.desc h3 {
    color: darkgrey;
    font-size: 10pt;
}

.desc h5 {
    color: darkgrey;
    font-size: 8pt;
    line-height: 20px;
    margin-bottom: 40px;
}


.sizes li {
    list-style: none;
    margin-bottom: 15px;
}

.sizes input[type="radio"] {
    display: none;
}

.sizes input[type="radio"]:checked + label {
    border: solid 1px grey;
    background-color: lightgreen;
}

.sizes label {
    font-size: 10pt;
    font-weight: bolder;
    padding: 6px;
    border: solid 1px black;
    border-radius: 20%;
    background-color: #ffffff;
    font-weight: bold;
}

.buy {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.buybtn {
    background-color: #000000;
    color: white;
    font-family: 'bebas', sans-serif;
    font-size: 16pt;
    letter-spacing: 4px;
    line-height: 5vh;
    width: 60%;
    height: 5vh;
    min-width: 145px;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
}

